/* 
    Cool colors
    #86b1cd - blue ?? gardenia
    color: #3B80AE; other blue
*/

body {
	background: #FFFFFF;
	margin: 0;
	font-family: Verdana, sans-serif;
    font-size: 80%;
}

h1 {
    background: #3B80AE;
    margin: 0;
    color: white;
    padding: 20px;
	font-size: 200%;
}

h2 {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
	font-weight: 100;
    font-size: 90%;
}

h3 {
    margin-left: 2%;
	font-size: 150%;
}

h4 {
    margin-left: 2%;
}

hr {
    border: dashed black 1px;
}

ul {
    list-style-type: square;
    line-height: 200%;
    margin-left: 2%;
    margin-right: 2%;
}

p {
    margin-left: 2%;
    margin-right: 2%;
	text-align: justify; 
    line-height: 150%;
}

a:link { color: blue; }
a:visited { color: blue; }
